
.custom-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fc3939;
  text-shadow: 0 0 black;
}

.alert-light-danger {
  background-color: #feefd0 !important;
  color: #f55252 !important;
  border-color: #feefd0;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}
.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.media {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.media-right {
  margin-left: auto; 
}

.media-right button mat-icon {
  color: red !important;
  font-size: 28px; 
}



