<section id="reg_content">
  <div class="row">
    <div class="col-12">
      <div class="content-header">How do you want it? </div>
    </div>
  </div>
  <div class="background-wrapper">
    <div class="row match-height">
      <!--Community Reg Starts-->
     <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Property Manager Sign-Up</h4>
            <p>Efficiently manage properties and enhance security. Sign up as a property manager to streamline visitor tracking and communication</p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet massa nec felis ullamcorper rutrum. Integer quis nunc nec ante cursus blandit. Fusce quis velit sit amet dolor tincidunt faucibus. Ut sollicitudin leo non massa tempor, eget efficitur velit volutpat.
              </p>

              <div class="d-flex flex-column align-items-start">
                <button type="button" class="btn btn-info mb-2" (click)="openSignupForm('propertyManager')">
                  Sign Up
                </button>
                <a href="#" 
                  (click)="goToLogin()" 
                  class="text-light small back-link">
                  Already have an account? Log in
                </a>
              </div>


            </div>
          </div>
        </div>
     </div>

      <!--Community Reg Starts Ends-->
  
      <!--Residents Reg Starts-->
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Resident Sign-Up</h4>
            <p>Join our community and register as a resident. Easily log your visitors and stay connected!</p>
          </div>
          <div class="card-content">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet massa nec felis ullamcorper rutrum. Integer quis nunc nec ante cursus blandit. Fusce quis velit sit amet dolor tincidunt faucibus. Ut sollicitudin leo non massa tempor, eget efficitur velit volutpat.</p>

              <div class="d-flex flex-column align-items-start">
             <!--    <button type="button" class="btn btn-info mb-2" (click)="openSignupForm('propertyManager')">
                  Sign Up
                </button> -->
                <button type="button" class="btn btn-info mb-2" (click)="openSignupForm('resident')">Sign Up</button>
                <a href="#" 
                  (click)="goToLogin()" 
                  class="text-light small back-link">
                  Already have an account? Log in
                </a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!--Residents Reg Starts Starts-->
    </div>
  </div>
  


</section>





